body{
    text-align: center;
    font-weight: 600;
    background-color: rgb(68, 64, 64);
    color: white;
}
.text-box-container{
    text-align: left;
    display:inline-block;
    width: 400px;
    position: relative;
    bottom: 90px;
    right: 60px;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 25px;
    opacity: 0.8;
}
h2{
    font-size: 2em;
}
.name-container{
    left: 14%;
    top: 20px;
    padding: 40px;
    color:rgb(226, 132, 69);
}
.name{
    display: block;
}
.image-container{
    position: relative;
    left:40px;
    bottom: 15px;
    text-align: center;
    display:inline-block;
    padding: 5px 5px 2px 5px;
    z-index: 3;
    background-color: rgb(226, 132, 69);
    border-radius: 50%;
}
.avatar{
    border-radius: 50%;
    width: 300px;
    padding: 0px;
}
.container{
    width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-image: url(images/nightblur.jpg);
    background-size: cover;
    border-radius: 25px;

}
.icon{
    width: 80px;
    border-radius: 25px;
}
.skills{
    width: 80%;
    background-color: rgb(226, 132, 69);
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    max-width: 1200px;
    margin-bottom: 100px;
}
.skill-container{
    background-color: white;
    border-radius: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 190px;
    height: 190px;
    color: black;
    font-size: 1.3em;
}
.skill-container:hover{
    background-color: rgb(145, 138, 138);
    color: white;
    position: relative;
    bottom: 20px;
}
#upper-div{
    width: 100%;
}